<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="Author"
			type="hu.uni.miskolc.webtech.librarian.model.Author" />
		<typeAlias alias="Nationality"
			type="hu.uni.miskolc.webtech.librarian.model.Nationality" />
		<typeAlias type="hu.uni.miskolc.webtech.librarian.model.Book" />
		<typeAlias type="hu.uni.miskolc.webtech.librarian.model.Genre" />
		<typeAlias type="hu.uni.miskolc.webtech.librarian.model.BookInstance" />
		<typeAlias alias="DateOnlyTypeHandler"
			type="org.apache.ibatis.type.DateOnlyTypeHandler" />

	</typeAliases>
	<typeHandlers>
		<typeHandler handler="DateOnlyTypeHandler" javaType="java.util.Date"
			jdbcType="DATE" />
	</typeHandlers>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>



	<mappers>
		<mapper
			resource="hu/uni/miskolc/webtech/librarian/persist/mysql/mapper/AuthorMapper.xml" />
		<mapper
			resource="hu/uni/miskolc/webtech/librarian/persist/mysql/mapper/BookMapper.xml" />

	</mappers>
</configuration>